<div class="container">
    <h1>Edit Post</h1>
    <div class="col">
        <div class="my-4 card">
            <div class="card-header text-center">
                <form class="update-post-form d-flex flex-column">
                    <input type="hidden" id="post-id" value="{{post.id}}">
                    <label for="title">Title:</label>
                    <input type="text" id="post-title" value="{{post.title}}">
                    <label for="content">Content:</label>
                    <textarea id="post-content">{{post.content}}</textarea>
                    <button class="btn btn-primary my-4" type="submit">Save Changes</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="/js/edit-post.js"></script>
